
{% extends "::layout/layout.html.twig" %}

{% block body %}
<global id="compte">
		<div id="content">
			<form action="#" method="POST">
				<input type="text" name="username" placeholder="Nom d'utilisateur"></input>
				<input type="email" name="email" placeholder="Adresse email"></input>
				<input type="text" name="password" placeholder="Mot de Passe"></input>
                                <input type="text" name="password" placeholder="Vérification Mot de Passe"></input>
				<input type="submit" name="submit" value="Valider"/>
			</form>
		</div>
	</global>
{% endblock %}
