{% trans_default_domain 'FOSUserBundle' %}
<global id="compte">
     {% include 'UtilisateursBundle:Default:modules/utilisateursConnected.html.twig' %}
    <div id="content">
        <h2>Modifier mon mot de passe :</h2>
        <form action="{{path('fos_user_change_password')}}" method="POST" class="fos_user_change_password">
            {{ form_widget(form) }}
            </br>
            <input type="submit" value="{{ 'change_password.submit'|trans }}" />
        </form>
    </div>
</global>
